*{
  margin: 0;
}

body {
  background-color: #fff5f7;
}

.headnavigation{
  list-style: none;
  background: #171717;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.headnavigation li{
  font-weight: normal;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.headnavigation a{
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #171717;
  padding: 10px;
  color: #fff5f7;
}

.headnavigation a:hover, a:active{
  background-color: #fc5474;
}

.footnavigation{
  background: #fff5f7;
  margin: auto;
  margin-top: 30px;
  padding: 0;
  width: 70%;
  list-style: none;
  display: flex;
  flex-flow: column;
}

.footnavigation li{
  font-weight: normal;
  font-style: italic;
  font-size: 0.8em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.footnavigation a {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #fff5f7;
  padding: 10px;
  color: #171717;
  border-bottom: 1px solid #171717;
}

.footnavigation a:hover, a:active{
  background-color: #fc5474;
  color: #fff5f7;
}

h1{
  font-family: 'Audiowide', Helvetica, Arial, sans-serif;
  font-size: 3.6em;
  font-weight: bold;
  color: #012530;
}

.contact a:hover, a:active img{
  opacity: 0.6;
  background-color: transparent;
}

.contact {
  font-size: 0.8em;
  font-family: 'David Libre', Georgia, 'Times New Roman', serif;
  color: #012530;
  padding: 10px;
}

.motto {
  font-size: 2em;
  font-family: 'Tangerine', Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  color: #012530;
}

.ac-container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.main h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #012530;
}

.main h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #012530;
}

.main h4 {
  font-family: 'David Libre', Georgia, 'Times New Roman', serif;
  color: #012530;
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
}

.main p{
  font-family: 'David Libre', Georgia, 'Times New Roman', serif;
  color: #012530;
  font-size: 1.2em;
}

.main{
  line-height: 180%;
  width: 70%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.main img, h2, h3, h4, p{
  padding: 10px;
}

.main img{
  display: none;
}

.ac-container{
  margin-top: 40px;
}

.ac-container label{
  display: block;
  cursor: pointer;
  border: 1px solid #171717;
}

.ac-container label:hover{
  background-color: #fc5474;
}

.ac-container input{
  display: none;
}

.ac-container article{
  overflow: hidden;
  height: 0px;
  transition:
    height 0.3s ease-in-out,
    box-shadow 0.6s linear;
}

.ac-container input:checked ~ article{
  transition:
    height 0.5s ease-in-out,
    box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article {
  height: 240px;
}

.wrapper{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.header{
  flex: auto;
  order: 1;
}

.sidebar{
  flex: auto;
  order: 2;
}

.main{
  flex: auto;
  order: 3;
}

.footnavigation {
  display: none;
}

.ac-container{
  overflow: hidden;
}

.menutrigger{
  font-size: 1.75em;
  width: 100%;
  display:block;
  text-decoration: none;
  color:#fff5f7;
  background-color: #171717;
  padding-left: 20px;
}

nav a:hover, a:active{
  background-color: #fc5474;
}

.headnavigation{
  display: none;
}

.header{
  display:flex;
  flex-flow: column;
}

@media (min-width: 600px) {

  .menutrigger{
    display: none;
  }

  .headnavigation{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
  }

  .headnavigation li{
    padding-right: 20px;
  }

  .main img{
    display:block;
  }
}

@media (min-width: 1000px) {

  .footnavigation{
    display: flex;
    flex-flow: column;
  }

  .wrapper{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .headnavigation{
    flex: 1 100%;
  }

  .main {
    flex: 2;
    order: 1;
    max-width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .sidebar{
    flex: 1;
    order: 2;
  }

}
