p{
  color: red;
  color: #666666;
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
}

h1{
  font-family: Georgia, "Times New Roman", serif;
}

body{
  background-color: #ebe3ce;
}

#container{
  width: 95%;
  background-color: #ffffff;
  margin: 0 auto;
  align-content: center;
}

.joke{
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
  text-align: right;
}

#nav {
  padding: 0;
}


#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}

#nav a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #98bf21;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
  padding: 4px;
  font-family: helvetica, Arial, sans-serif;
}

#nav a:hover, a:active{
  background-color: #7a991a
}

#footer {
  color: black;
  font-family: georgia, "Times New Roman", serif;
  border-top: 1px solid black;
  font-size: 0.8em;
}

img {
  border-style: none;
}
